---
dependency:
  name: galaxy
driver:
  name: docker
lint:
  name: yamllint
  options:
    config-data:
      line-length: disable
platforms:
  - name: mongodb1
    hostname: mongodb1.local
    image: centos:8
    command: /sbin/init
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: True
    networks:
      - name: "local"
    network_mode: "local"
    groups:
      - mongodb
      - rs0
  - name: mongodb2
    hostname: mongodb2.local
    image: centos:8
    command: /sbin/init
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: True
    networks:
      - name: "local"
    network_mode: "local"
    groups:
      - mongodb
      - rs0
  - name: mongodb3
    hostname: mongodb3.local
    image: centos:8
    command: /sbin/init
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: True
    networks:
      - name: "local"
    network_mode: "local"
    groups:
      - mongodb
      - rs0
  - name: mongodb4
    hostname: mongodb4.local
    image: centos:8
    command: /sbin/init
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: True
    networks:
      - name: "local"
    network_mode: "local"
    groups:
      - mongodb
      - rs1
  - name: mongodb5
    hostname: mongodb5.local
    image: centos:8
    command: /sbin/init
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: True
    networks:
      - name: "local"
    network_mode: "local"
    groups:
      - mongodb
      - rs1
  - name: mongodb6
    hostname: mongodb6.local
    image: centos:8
    command: /sbin/init
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: True
    networks:
      - name: "local"
    network_mode: "local"
    groups:
      - mongodb
      - rs1
  - name: mongos1
    hostname: mongos1.local
    image: centos:8
    command: /sbin/init
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: True
    networks:
      - name: "local"
    network_mode: "local"
    groups:
      - mongos
  - name: mongos2
    hostname: mongos2.local
    image: centos:8
    command: /sbin/init
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: True
    networks:
      - name: "local"
    network_mode: "local"
    groups:
      - mongos
  - name: mongos3
    hostname: mongos3.local
    image: centos:8
    command: /sbin/init
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: True
    networks:
      - name: "local"
    network_mode: "local"
    groups:
      - mongos
provisioner:
  name: ansible
  lint:
    name: ansible-lint
    enabled: false
  inventory:
    group_vars:
      rs0:
        repl_set_name: "rs0"
        members:
          - "mongodb1.local:27018"
          - "mongodb2.local:27018"
          - "mongodb3.local:27018"
      rs1:
        repl_set_name: "rs1"
        members:
          - "mongodb4.local:27018"
          - "mongodb5.local:27018"
          - "mongodb6.local:27018"
  config_options:
    defaults:
      vault_password_file: "${MOLECULE_SCENARIO_DIRECTORY}/.vault_pass.txt"
    ssh_connection:
      pipelining: true
      ssh_args: -o ControlMaster=auto -o ControlPersist=60s
  env:
    ANSIBLE_PYTHON_INTERPRETER: "/usr/libexec/platform-python"
    X_GITHUB_OVERRIDE: 1
verifier:
  name: testinfra
  lint:
    name: flake8
    options:
      ignore: 'E501'
