**/venv/*
*.pyc
**/.vagrant
**/.ansible
**/.DS_Store

**/.terraform/*
**/.terraform*
*.tfstate
*.tfstate.*
*.plan
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
